body {
	font-family: Arial, sans-serif;
}

#container {
	width: 100%;
	max-width: 960px;
    height: 100vh;
	margin: 0 auto;
}

#items {
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
}

.heading {
	text-transform: uppercase;
	text-align: center;
}

.score-title {
	text-align: center;
}

.item {
	width: 45%;
	margin: 10px;
	border: 1px solid #ccc;
}

figure {
	margin: 0.5em;
}

figcaption {
	overflow: hidden;
}


.cat {
	width: 100%;
}


.score {
	font-weight: 700;
	font-size: 1.5em;
}

@media only screen and (max-width: 480px) {
    #items {
		flex-direction: column;
	}
	.item {
		width: 90%;
		margin: auto;
	}
}